# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
.svelte-kit/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data
data/
