@import "./blueprint.css" layer(blueprint);

@layer default {
	:root {
		--primary-color: #0066cc;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
	}

	::selection {
		background: transparent;
	}
}
